@model OrganicStore.Models.Products

@{
    ViewData["Title"] = "Admin Page";
}

<h2>Add Product</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form asp-action="AddProduct" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input asp-for="name" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="original_price">Original Price:</label>
        <input asp-for="original_price" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="selling_price">Selling Price:</label>
        <input asp-for="selling_price" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="category">Category:</label>
        <input asp-for="category" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="details">Details:</label>
        <textarea asp-for="details" class="form-control" required></textarea>
    </div>

    <div class="form-group">
        <label for="pic">Image URL:</label>
        <input asp-for="pic" class="form-control" required />
    </div>

    <div style="margin-top: 5px;"></div>

    <div class="form-group">
        <button type="submit" style="background-color: #9e0047; padding: 10px 20px; font-size: 16px;" class="button-submit">Add Product</button>
    </div>
</form>

<div style="margin-top: 20px;"></div>

<p><a asp-action="DeleteProduct" style="background-color: #9e0047; padding: 10px 20px; color: #fff;" class="button-submit">Delete Products</a></p>
